<?xml version="1.0" encoding="utf-8" ?>
<t:sites xmlns:t="urn:thycotic-SiteConfig">
<!-- Doc Links - Privileged Behavior Analytics - main-->
  <t:site key="CurrentPBAQuickStartGuide">/pba/3.2.0</t:site>
  <t:site key="CurrentPBACloudSecurityGuide">/pba/3.2.0</t:site>
  <t:site key="CurrentPBABetaGuide">/pba/3.2.0</t:site>
  <t:site key="CurrentPBAEULA">https://updates.thycotic.net/privilegedanalytics/documents/Thycotic_License_and_Cloud_Agreement_Consolidated.pdf</t:site>
  <t:site key="CurrentPBAUserGuide">/pba/3.2.0</t:site>
  <t:site key="privilegedbehavioranalyticskb">/pba</t:site>
  <t:site key="PbaWebhooks">https://thycotic.force.com/support/s/article/PBA-Webhooks</t:site>
  <t:site key="PbaCodehooks">https://thycotic.force.com/support/s/article/PBA-Codehooks</t:site>
  <t:site key="CurrentPBAResponsiveActions">https://updates.thycotic.net/privilegedanalytics/documents/PBA_ResponsiveActionsWhitepaper.pdf</t:site>
  <t:site key="CurrentPBAAlerts">https://updates.thycotic.net/privilegedanalytics/documents/PBA_Alerts_Whitepaper.pdf</t:site>
  <t:site key="PrivManPBASetup">/privman/10.8.0/admin/config/foreign-systems/thycotic/set-up-pba.md</t:site>
  <t:site key="SecretServerPBASetup">/pba/3.2.0/getting-started/secret-server-config</t:site>
</t:sites>